body{
    background-color: white;
}
p, .button{
    font-family: 'Roboto', sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color:#f9f4ef;
    text-decoration: none;
}
.grey{
    text-decoration: none;
    color: #7f8c8d;
}
.grey:hover{
    color: black;
}
.logo{
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 7em;
    max-height: 7em;
}
h1, h2{
    text-align: center;
}
.fontHeader, h2{
    font-family: 'Roboto Slab', serif;
    margin-bottom: 20px;
}
.fontLabel{
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    line-height: 75px;
    letter-spacing: 3px;
    padding-top: 48px;
}
.center{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
}
.button{
}
.top{
    padding-top: 80px;
}
/* разобраться */
.adv1{
    padding: 40px;
    height: 250px;
    background-color: #e6e4e3;
    transition: transform 0.5s ease;
}
.adv2{
    padding: 40px;
    height: 250px;
    background-color: #f2f1f0;
    transition: transform 0.5s ease;
}
#adv1:hover{
    z-index: 1;
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#adv2:hover{
    z-index: 1;
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#adv3:hover{
    z-index: 1;
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#adv4:hover{
    z-index: 1;
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* разобраться */

i.fa {
  padding: 0.3em 0.3em;
  color: #e67e22;
}
i.fa:hover{
        color: #f1c40f;
        transition: 0.5s;
    }
.top{
    color: white;
    background: url(../img/test.jpg) center center no-repeat;
    background-size: cover;
    height: 974px;
}
.item{
    background-color: #f9f4ef;
    margin:5px;
    padding: 5px;
    height: auto;
    width: auto;
}
.itemImg{
    background-color: white;
}
.itemDesc{
    background-color: #e6e4e3;
    padding: 5px;
}
.advantages{
    background-color: #f9f4ef;
    padding: 30px;
    color: #7f8c8d;
    height: auto;
}
.request{
    color: #7f8c8d;
    background-image: url(https://image.freepik.com/free-vector/vector-background-abstract-polygon-triangles_2065-346.jpg);
    background-color: #bdc3c7;
    padding: 20px;
    height: auto;
}
.fiber{
    height: auto;
    margin: 40px 0px 40px 0px;
}
.fiberTextBox{
    padding: 20px;
    color: #7f8c8d;
    background: #f2f1f0;
}
.offer
{
    background-color: #fff;
    color: #7f8c8d;
    padding: 40px 0px 40px 0px;
    height: auto;
}
.clients{
    padding: 40px 0px 40px 0px;
    color: #7f8c8d;
    background-color: #ecf0f1;
    height: auto;
}
.contacts{
    padding: 40px 0px 40px 0px;
    padding: 40px 0px 40px 0px;
    color: #7f8c8d;
    background-color: #fff;
    height: auto;
}

/* brandLogo */

.brandLogo{
    -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.brandLogo:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /* IE 6-9 */
}

.brandLogoColor1{ 
    background-color: #e6e4e3;
}
.brandLogoColor2{ 
    background-color: #f2f1f0;
}
/* /brandLogo */

/* modal */
input {
  margin-bottom:10px;
}
textarea {
  height:100px;
  margin-bottom:10px;
}
input:first-of-type
{
  margin-top:35px;
}
input, textarea {
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: 'Source Sans Pro',arial,sans-serif;
  border: 1px solid #cecece;
  background: #f2f1f0;
  color:#7f8c8d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
}
::-webkit-input-placeholder {
   color: #7f8c8d;
}
:-moz-placeholder {
   color: #7f8c8d;  
}
::-moz-placeholder {
   color: #7f8c8d; 
}
:-ms-input-placeholder {  
   color: #7f8c8d;  
}
/* /modal */