body{
    background-color: white;
}
p, .button{
    font-family: 'Roboto', sans-serif;
}
a:hover{
    color: red;
    text-decoration: none;
}
.logo{
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7em;
    height: 7em;
}
h1, h2{
    text-align: center;
}
.fontHeader, h2{
    font-family: 'Roboto Slab', serif;
    margin-bottom: 20px;
}
.fontLabel{
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    line-height: 75px;
    letter-spacing: 3px;
    padding-top: 48px;
}
.center{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
}
.button{
}
.top{
    padding-top: 80px;
}
/* разобраться */
.adv1{
    padding: 40px;
    height: 235px;
    background-color: #e6e4e3;
    transition: transform 0.5s ease;
}
.adv2{
    padding: 40px;
    height: 235px;
    background-color: #f2f1f0;
    transition: transform 0.5s ease;
}
#adv1:hover{
    z-index: 1;
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#adv2:hover{
    z-index: 1;
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#adv3:hover{
    z-index: 1;
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#adv4:hover{
    z-index: 1;
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* разобраться */

i.fa {
  padding: 0.5em 0.5em;
  color: #82533b;
}
i.fa:hover{
        color: #2c3e50;
        transition: 0.5s;
    }
.rev{
    border-radius: 10px;
    margin: 0.3em;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.revText{
  margin: 10px;  
}
.top{
    color: white;
    background: url(../img/test.jpg) center center no-repeat;
    background-size: cover;
    height: 974px;
}
.revPhoto{
    margin: 5px;
    float: left;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.item{
    background-color: #446CB3;
    margin:5px;
    height: 200px;
}
.advantages{
    background-color: #f9f4ef;
    padding: 30px;
    color: #7f8c8d;
    height: auto;
}
.review{
    color: #7f8c8d;
    background-image: url(https://image.freepik.com/free-vector/vector-background-abstract-polygon-triangles_2065-346.jpg);
    background-color: #bdc3c7;
    padding: 20px;
    height: auto;
}
.offer
{
    background-color: #fff;
    color: #7f8c8d;
    padding: 20px;
    height: auto;
}
.clients{
    padding: 20px;
    color: #7f8c8d;
    background-color: #ecf0f1;
    height: auto;
}
.contacts{
    padding: 20px;
    color: #7f8c8d;
    background-color: #fff;
    height: 400px;
}