nav{
  height: 30px;
  width: 694px;
  padding: 0 50px;
  margin: 20px auto;
  line-height: 50px;
  background: #fff;
  text-transform: uppercase;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li{
  position: relative;
  display: inline-block;
  /*background:blue;*/ /*add a background colo to see if there is space between <li>*/
}
/*ul li:hover{background:red;}*//*testing if the cursor fits to <li>*/
ul li a{
  display: block;
  padding: 0 15px;
  text-decoration: none;
  color: inherit;
}
ul li a:hover{
    color: black;
}
ul li:last-child:after{
  content: "";
  position: absolute;
  width: 170px; /*first item width*/
  border-bottom: 5px solid #f39c12;
  left: -470px; /*525-94 (total width - last item width*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
ul li:first-child:hover ~ li:last-child:after {
  width: 170px;
  left: -470px;
}
ul li:nth-child(2):hover ~ li:last-child:after {
  width: 150px;
  left: -305px;
}
ul li:nth-child(3):hover ~ li:last-child:after {
  width: 135px;
  left: -140px;
}
ul li:nth-child(4):hover ~ li:last-child:after {
  width: 94px;
  left: -84px;
}
ul li:last-child:hover:after {
  width: 120px;
  left: 0px;
}